@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: Outfit;
}

.active hr {
  @apply block;
}

::-webkit-scrollbar {
  @apply hidden;
}

@theme {
  /* Define your custom primary color */
  --color-primary: #5f6fff;

  /* Custom grid template columns used in the project */
  --grid-template-columns-auto: repeat(auto-fill, minmax(200px, 1fr));
}
